<div class="row mb-2" ng-controller="ProductsController as productsVM">
  <div class="col-md-12 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fab fa-superpowers"></i></span>
      </div>
      <input ng-model="productsVM.search_box" type="search" class="form-control" placeholder="Buscar Productos" aria-label="Buscar Productos">
      <div class="input-group-append">
        <button ng-click="productsVM.cleanSearchBox()" class="btn btn-danger" ng-disabled="!productsVM.search_box.length"><i class="fas fa-eraser"></i></button>
      </div>
      <div class="input-group-append">
        <button ng-click="productsVM.showOnlyAvailableProducts()" ng-class="{'btn-success': (productsVM.only_availables == true)}" class="btn btn-secondary">Solo Disponibles</button>
      </div>
    </div>
  </div>
  <div ng-repeat="product in productsVM.list_of_products | filter : productsVM.search_box | filter : ({available:productsVM.only_availables} || '') | limitTo : productsVM.limit_to : beginner track by $index" class="product col-md-6 col-lg-4">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-primary">${{product.price}}</strong>
        <h3 class="product__title mb-0">
          <a class="text-dark" href="#">{{product.name}}</a>
        </h3>
        <div class="mb-1 text-muted">Disponibilidad: {{product.quantity}}</div>
        <p class="card-text mb-auto">{{product.description}}.</p>
        <a href="#">Ver Detalles</a>
        <a href="#">Comprar</a>
      </div>
      <figure class="product__figure">
        <img class="card-img-right flex-auto d-none d-lg-block" data-src="https://images.rappi.com.ar/products/{{product.img}}" alt="{{product.name}}" src="https://images.rappi.com.ar/products/{{product.img}}" data-holder-rendered="true" style="width: 200px; max-height: 200px;">
      </figure>
    </div>
  </div>
  <div class="col-md-12 text-center"> 
      <button ng-click="productsVM.loadMoreProducts()" class="btn btn-primary">Cargar más productos...</button>
  </div>
</div>