<div class="row mb-2" ng-controller="ProductsController as productsVM">
  <div class="col-md-12 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fab fa-superpowers"></i></span>
      </div>
      <input ng-model="productsVM.search_box" type="search" class="form-control" placeholder="{{productsVM.only_availables == true ? 'Buscar unicamente en productos disponibles' : 'Buscar en productos destacados'}}" aria-label="Buscar Producto">
      <div class="input-group-append">
        <button ng-click="productsVM.cleanSearchBox()" class="btn btn-danger" ng-disabled="!productsVM.search_box.length"><i class="fas fa-eraser"></i></button>
      </div>
      <div class="input-group-append">
        <button ng-click="productsVM.showOnlyAvailableProducts()" ng-class="{'btn-success': (productsVM.only_availables == true)}" class="btn btn-primary">
          <i class="far fa-hand-point-up"></i>
          <span ng-if="productsVM.only_availables == false">Ver disponibles</span>
          <span ng-if="productsVM.only_availables == true">Ver destacados</span>
        </button>
      </div>
    </div>
  </div>
  <h5 class="col-md-12 d-flex justify-content-between">
    <div>
      <span ng-if="productsVM.only_availables == false">Productos destacados: <q ng-if="productsVM.search_box.length">{{productsVM.search_box}}</q></span>
      <span ng-if="productsVM.only_availables == true">Productos disponibles: <q ng-if="productsVM.search_box.length">{{productsVM.search_box}}</q></span>
    </div>
    <small>
      <a href="/index.html?#!/categories">Ver todas las categorías</a>
    </small>
  </h5>
  <!-- Product -->
  <div ng-repeat="product in productsVM.list_of_products | filter : productsVM.search_box | filter : ({available:productsVM.only_availables} || '') | limitTo : productsVM.limit_to : beginner track by $index" class="product col-md-6 col-lg-4">
    <product-element product="product"></product-element>
  </div>

  <div class="col-md-12 text-center"> 
      <button ng-click="productsVM.loadMoreProducts()" class="btn btn-primary">Cargar más productos...</button>
  </div>
</div>