<div class="hero jumbotron p-3 p-md-5 text-danger rounded bg-white" ng-controller="HeroController as heroVM">
  <div class="row">
    <div class="col-md-8 px-0">
      <h4 class="font-italic">Destacado: </h4>
      <h2 class="font-italic text-dark">{{heroVM.featured_product.name}}</h2>
      <p class="lead my-3 text-dark">{{heroVM.featured_product.description}}.</p>
      <p class="lead mb-0">
        <a ng-click="heroVM.addToCart(heroVM.featured_product)" href="javascript:void(0)" class="btn btn-outline-success font-weight-bold">Comprar</a>
      </p>
    </div>
    <div class="col-md-4 px-0 text-right">
      <figure class="hero__figure">
        <img src="https://images.rappi.com.ar/products/{{heroVM.featured_product.img}}" alt="{{heroVM.featured_product.name}}">
      </figure>
    </div>
  </div>
</div>