<div class="container">
  <div class="row">
    <div class="css-order-by col-md-6 d-flex justify-content-start align-items-center mb-3">
      <span class="mr-2">Ordenar por:</span>
      <button class="btn btn-outline-primary mr-2" ng-click="productsVM.orderProductsBy('available')" ng-class="{'btn-outline-success': (productsVM.order_by == 'available')}">Disponibilidad</button>
      <button class="btn btn-outline-primary mr-2" ng-click="productsVM.orderProductsBy('quantity')" ng-class="{'btn-outline-success': (productsVM.order_by == 'quantity')}">Cantidad</button>
      <button class="btn btn-outline-primary mr-2" ng-click="productsVM.orderProductsBy('price')" ng-class="{'btn-outline-success': (productsVM.order_by == 'price')}">Precio</button>
    </div>
    <div class="col-md-6 d-flex justify-content-end align-items-center mb-3">
      <span class="mr-2">Filtrar: </span>
      <button class="btn btn-outline-primary mr-2" ng-click="productsVM.showOnlyAvailableProducts()" ng-class="{'btn-outline-success': (productsVM.only_availables == true)}">Solo disponibles</button>
      <div class="input-group mr-2">
        <div class="input-group-prepend">
          <span class="input-group-text bg-primary text-white">
            <i class="fas fa-arrow-up"></i>
          </span> 
        </div>
        <input ng-model="productsVM.filter_by_quantity_input" type="number" class="filter-input--txt form-control" placeholder="Cantidad:">
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text bg-success text-white"><i class="fas fa-dollar-sign"></i></span>
        </div>
        <input ng-model="productsVM.filter_between_price_input_min" type="number" class="filter-input--txt form-control" placeholder="Min">
        <input ng-model="productsVM.filter_between_price_input_max" type="number" class="filter-input--txt form-control" placeholder="Max">
      </div>
      <button ng-click="productsVM.clearFilters()" class="btn btn-outline-danger ml-2" type="button">
        <i class="far fa-times-circle"></i>
      </button> 
    </div>
    <div class="col-md-12 text-center">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fab fa-superpowers"></i></span>
        </div>
        <input ng-model="productsVM.search_box" type="search" class="form-control" placeholder="{{productsVM.only_availables == true ? 'Buscar unicamente en productos disponibles' : 'Buscar en todos los productos'}}" aria-label="Buscar Producto">
        <div class="input-group-append">
          <button ng-click="productsVM.cleanSearchBox()" class="btn btn-danger" ng-disabled="!productsVM.search_box.length"><i class="far fa-times-circle"></i></button>
        </div>
        <div class="input-group-append">
          <button ng-click="productsVM.showOnlyAvailableProducts()" ng-class="{'btn-success': (productsVM.only_availables == true)}" class="btn btn-primary">
            <i class="far fa-hand-point-up"></i>
            <span ng-if="productsVM.only_availables == false">Ver disponibles</span>
            <span ng-if="productsVM.only_availables == true">Ver destacados</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div ng-repeat="category_product in categoryProductsVM.list_of_categorie_products | fromMap" class="product col-md-6 col-lg-4">
      <div class="product card flex-md-row mb-4 shadow-sm h-md-250" id="{{category_product.id}}">
        <span ng-click="productsVM.addToFavorites(product)" ng-class="{'is-favorite': productsVM.isFavorite(product)}" class="product-favorite btn btn-link"><i class="far fa-heart"></i></span>
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary">${{category_product.price}}</strong>
          <h3 class="product__title mb-0">
            <a class="text-dark" href="javascript:void(0);">{{category_product.name}}</a>
          </h3>
          <div class="mb-1 text-muted">Disponibilidad: {{category_product.quantity}}</div>
          <p class="card-text mb-auto">{{category_product.description}}.</p>
        </div>
        <figure class="product__figure">
          <img class="card-img-right flex-auto d-none d-lg-block" data-src="https://images.rappi.com.ar/products/{{category_product.img}}" alt="{{category_product.name}}" src="https://images.rappi.com.ar/products/{{category_product.img}}" data-holder-rendered="true" style="width: 200px; max-height: 200px;">
        </figure>
        <div class="product-options bg-success" ng-class="{'bg-danger': productsVM.productIsInCart(product)}">
          <button ng-click="productsVM.addToCart(product)" ng-class="{'btn-danger': productsVM.productIsInCart(product)}" class="product-options__option--buy btn btn-success">
              <span ng-if="!productsVM.productIsInCart(product)">Agregar a la Compra</span>
              <span ng-if="productsVM.productIsInCart(product)">Agregado</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>