:root { --brand: #FF5252; }
/* >>> Helpers <<< */
.bg-brand { background-color: var(--brand); }
/* >>> Fonts <<< */
/*
  font-family: 'Playfair Display', serif;
*/

/* >>> Header <<<*/
header {
  border-bottom: 1px solid #e5e5e5;
  line-height: 1;
}
.header__logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}
.header__logo:hover { text-decoration: none; }
header .nav-user-items { font-size: 20px; }
header .nav-user-items .nav-item:last-child { margin-right: 10px; }
header .nav-user-items .nav-item:not(:last-child) { margin-right: 10px; }
header .nav-user-items a.nav-item { color: #ffffff; }

/* >>> Login Form <<< */
.form-signin {
  margin: auto;
  max-width: 330px;
  padding: 15px;
  width: 100%;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  box-sizing: border-box;
  font-size: 16px;
  height: auto;
  padding: 10px;
  position: relative;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 10px;
}
/* >>> Categories Nav <<< */
.categories-nav {
  flex-wrap: nowrap;
  overflow-x: scroll;
  white-space: nowrap;
}
/* >>> Products <<< */
.product .product__figure {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  width: 160px;
}
.product .product__figure img {
  max-width: 100%;
}
.product__title {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 75%;
}
.product .card-body { max-width: 70%; }
/* >>> hero <<< */
.hero__figure { margin: 0; }
.hero__figure img {
  border-radius: 3px;
  box-shadow: 0 0 10px 0 var(--white);
}