.product .product__figure {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  width: 160px;
}
.product .product__figure img {
  max-width: 100%;
}
.product__title {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 75%;
}
.product .card-body { max-width: 70%; }
.product:hover .product-options {
  opacity: 1;
}
.product-options {
  align-items: center;
  background-color: var(--white);
  bottom: 0;
  border-radius: 0 0 3px 3px;
  display: flex;
  height: 25%;
  justify-content: space-around;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: all 0.5s ease;
  width: 100%;
}
.product-options__option {}
.product-options__option--see {}
.product-options__option--buy {}
.product-favorite {
  position: absolute;
  right: 5px;
  top: 5px;
}
[class^="product-favorite"].is-favorite {
  color: #FF5252;
  text-shadow: 0px 0px 1px currentColor;
}